html {
    font-family: 'Work Sans', sans-serif;
    color: #3b4252;
}

body {
    margin-bottom: 250px;
}

.top-bar {
    width: 600px;
    margin: 0 calc(50% - 300px);
    display: inline-block;
}

#logo {
    font-size: large;
    display: inline-flex;
    padding: 3px 15px;
    margin: 20px 0;
    border: 3px dashed #4c566a;
}

#logo h1 {
    padding: 0;
    margin: 0;
}

#logo a {
    color: #3b4252;
    transition: color .2s ease;
}

#logo a:hover{
    color: #a3be8c;
}

.top-bar h1 {
    font-size: 160%;
    display: inline-block;
    padding: 10px;
    margin: 0;
}

.top-bar nav { 
    display: flex;
    border: 3px solid #4c566a;
    border-radius: 3px;
}

.top-bar nav a {
    display: flex;
    height: 2.1rem;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: #4c566a;
    color: white;
}

.top-bar nav a:hover {
    background-color: #3b4252;
}

.top-bar a:active {
    color: #a3be8c;
}

.button-holder {
    display: flex;
}

.button-holder a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #4c566a;
    color: #3b4252;
    border-radius: 3px;
}

.button-holder a:hover {
    background-color: #4c566a;
    color: white;
}

.page-info {
    font-size: 105%;
    width: 600px;
    margin: 30px calc(50% - 300px);
}

#rick-roll {
    color: #81a1c1;
}

a {
    text-decoration: none;
    color: #3b4252;
}

img {
    width: 100%;
    border: 1px solid #3b4252;
    border-radius: 5px;
}