html {
    box-sizing: border-box;
}

button {
    padding: 0;
    margin: 0;
    font: inherit;
    border: none;
    color: blue;
    background-color: white;
}

button:hover {
    cursor: pointer;
}

.info {
    width: 1000px;
    margin: 0 calc(50% - 500px);
}

#raycaster-holder {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#raycaster-2d-window {
    border: 2px solid #4c566a;
    border-radius: 5px;
}

#raycaster-3d-window {
    border: 2px solid #4c566a;
    border-radius: 5px;
}